<section class="arrow">
	<p class="arrow-img"></p>
</section>
<section id="canvas">
	<!-- <ul class="list-unstyled">
		<li style="height:568px;-webkit-transform:translate3d(0,0,0)">
			<img src="../img/1.jpg" alt="" style="width:320px;">
		</li>
		<li style="height:568px;-webkit-transform:translate3d(0,0,0)">
			<img src="../img/3.jpg" alt="" style="width:320px;">
		</li>		
	</ul> -->
</section>
<section class="musicBox">
	<span class="musicImg">
		<audio id="audio" src="../img/54211bb826031.mp3" controls="controls" loop="false" hidden="true" autoplay></audio>
	</span>
</section>